<!DOCTYPE html>
<html>
    </head>
    <body>
        <h1>Hours</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
    </head>
    <body>
        <h1>Dates of Tournaments</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
    </head>
    <body>
      <h1>Bar Menu</h1>
      <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>
